/*--- Avanquest WebEasy Page Style ---*/


.cc07               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc08               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc09               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc10               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #e0e0e0;
	}
img#e72             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  81.75pt;
	top             :   2.25pt;
	width           : 744.75pt;
	height          :1368.75pt;
	}
span#e71            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 140.25pt;
	top             : 313.50pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e70             { /* Ms. D. Ashford */
	position        : absolute;
	left            : 153.75pt;
	top             : 463.50pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e69             { /* V Degree ITF Black Belt */
	position        : absolute;
	left            : 153.75pt;
	top             : 480.00pt;
	width           : 133.50pt;
	height          :  19.50pt;
	}
div#e68             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 153.00pt;
	top             : 497.25pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e67             { /* dashford@gmail.com */
	position        : absolute;
	left            : 153.75pt;
	top             : 516.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e66            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 393.75pt;
	top             : 314.25pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e65             { /* Mr. G. Luce */
	position        : absolute;
	left            : 407.25pt;
	top             : 464.25pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e64             { /* IV Degree ITF Black Belt */
	position        : absolute;
	left            : 407.25pt;
	top             : 480.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e63             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 406.50pt;
	top             : 498.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e62             { /* dashford@gmail.com */
	position        : absolute;
	left            : 407.25pt;
	top             : 516.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e61            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 625.50pt;
	top             : 313.50pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e60             { /* Mr. J. Mannion  */
	position        : absolute;
	left            : 639.00pt;
	top             : 463.50pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e59             { /* III Degree ITF Black Bel... */
	position        : absolute;
	left            : 639.00pt;
	top             : 480.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e58             { /* Assistant Instructor @ W... */
	position        : absolute;
	left            : 639.75pt;
	top             : 497.25pt;
	width           : 133.50pt;
	height          :  33.75pt;
	}
div#e57             { /* j.mannionfx@gmail.com */
	position        : absolute;
	left            : 639.00pt;
	top             : 526.50pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e56            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 140.25pt;
	top             : 580.50pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e55             { /* Mr. J. Dupree */
	position        : absolute;
	left            : 153.75pt;
	top             : 730.50pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e54             { /* III Degree ITF Black Bel... */
	position        : absolute;
	left            : 153.75pt;
	top             : 747.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e53             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 153.00pt;
	top             : 764.25pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e52             { /* dashford@gmail.com */
	position        : absolute;
	left            : 153.75pt;
	top             : 783.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e51            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 393.75pt;
	top             : 581.25pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e50             { /* Mr. G. Luce */
	position        : absolute;
	left            : 407.25pt;
	top             : 731.25pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e49             { /* IV Degree ITF Black Belt */
	position        : absolute;
	left            : 407.25pt;
	top             : 747.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e48             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 406.50pt;
	top             : 765.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e47             { /* dashford@gmail.com */
	position        : absolute;
	left            : 407.25pt;
	top             : 783.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e46            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 625.50pt;
	top             : 580.50pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e45             { /* Ms. D. Ashford */
	position        : absolute;
	left            : 639.00pt;
	top             : 730.50pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e44             { /* V Degree ITF Black Belt */
	position        : absolute;
	left            : 639.00pt;
	top             : 747.00pt;
	width           : 133.50pt;
	height          :  19.50pt;
	}
div#e43             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 638.25pt;
	top             : 764.25pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e42             { /* dashford@gmail.com */
	position        : absolute;
	left            : 639.00pt;
	top             : 783.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e41            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 140.25pt;
	top             : 842.25pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e40             { /* Ms. D. Ashford */
	position        : absolute;
	left            : 153.75pt;
	top             : 992.25pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e39             { /* V Degree ITF Black Belt */
	position        : absolute;
	left            : 153.75pt;
	top             :1008.75pt;
	width           : 133.50pt;
	height          :  19.50pt;
	}
div#e38             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 153.00pt;
	top             :1026.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e37             { /* dashford@gmail.com */
	position        : absolute;
	left            : 153.75pt;
	top             :1044.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e36            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 393.75pt;
	top             : 843.00pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e35             { /* Mr. G. Luce */
	position        : absolute;
	left            : 407.25pt;
	top             : 993.00pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e34             { /* IV Degree ITF Black Belt */
	position        : absolute;
	left            : 407.25pt;
	top             :1009.50pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e33             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 406.50pt;
	top             :1026.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e32             { /* dashford@gmail.com */
	position        : absolute;
	left            : 407.25pt;
	top             :1045.50pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e31            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 625.50pt;
	top             : 842.25pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e30             { /* Ms. D. Ashford */
	position        : absolute;
	left            : 639.00pt;
	top             : 992.25pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e29             { /* V Degree ITF Black Belt */
	position        : absolute;
	left            : 639.00pt;
	top             :1008.75pt;
	width           : 133.50pt;
	height          :  19.50pt;
	}
div#e28             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 638.25pt;
	top             :1026.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e27             { /* dashford@gmail.com */
	position        : absolute;
	left            : 639.00pt;
	top             :1044.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e26            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 140.25pt;
	top             :1109.25pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e25             { /* Ms. D. Ashford */
	position        : absolute;
	left            : 153.75pt;
	top             :1259.25pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e24             { /* V Degree ITF Black Belt */
	position        : absolute;
	left            : 153.75pt;
	top             :1275.75pt;
	width           : 133.50pt;
	height          :  19.50pt;
	}
div#e23             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 153.00pt;
	top             :1293.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e22             { /* dashford@gmail.com */
	position        : absolute;
	left            : 153.75pt;
	top             :1311.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e21            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 393.75pt;
	top             :1110.00pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e20             { /* Mr. G. Luce */
	position        : absolute;
	left            : 407.25pt;
	top             :1260.00pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e19             { /* IV Degree ITF Black Belt */
	position        : absolute;
	left            : 407.25pt;
	top             :1276.50pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e18             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 406.50pt;
	top             :1293.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e17             { /* dashford@gmail.com */
	position        : absolute;
	left            : 407.25pt;
	top             :1312.50pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e16            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 625.50pt;
	top             :1109.25pt;
	width           : 143.25pt;
	height          : 143.25pt;
	}
div#e15             { /* Ms. D. Ashford */
	position        : absolute;
	left            : 639.00pt;
	top             :1259.25pt;
	width           : 137.25pt;
	height          :  17.25pt;
	}
div#e14             { /* V Degree ITF Black Belt */
	position        : absolute;
	left            : 639.00pt;
	top             :1275.75pt;
	width           : 133.50pt;
	height          :  19.50pt;
	}
div#e13             { /* Instructor @ WALESTKD */
	position        : absolute;
	left            : 638.25pt;
	top             :1293.00pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
div#e12             { /* dashford@gmail.com */
	position        : absolute;
	left            : 639.00pt;
	top             :1311.75pt;
	width           : 133.50pt;
	height          :  18.75pt;
	}
span#e11            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002006.jpg) no-repeat top left;
	position        : absolute;
	left            :  82.50pt;
	top             : 271.50pt;
	width           : 743.25pt;
	height          :  21.75pt;
	}
span#e10            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002005.gif) no-repeat top left;
	position        : absolute;
	left            : 138.75pt;
	top             : 273.75pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e9             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002004.gif) no-repeat top left;
	position        : absolute;
	left            : 209.25pt;
	top             : 273.75pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e8             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 287.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e7             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 374.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e6             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 464.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
div#e5              { /* HOME */
	position        : absolute;
	left            :  96.75pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e4              { /* EVENTS  */
	position        : absolute;
	left            : 156.00pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e3              { /* COACHES */
	position        : absolute;
	left            : 225.75pt;
	top             : 277.50pt;
	width           :  57.75pt;
	height          :  12.75pt;
	}
div#e2              { /* CONTACT US */
	position        : absolute;
	left            : 303.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e1              { /* STUDENT INFO. */
	position        : absolute;
	left            : 387.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#page            { /* Page Holder */
	background-color: #808080;
	position        : relative;
	width           : 900.00pt;
	height          :3750.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #808080;
	text-align      : center;
	}



/*--- EndOfFile ---*/
