/*--- Avanquest WebEasy Page Style ---*/


.cc56               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc57               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc58               { /* Common */
	border          :   0.00pt none #ffffff;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc59               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc60               { /* Common */
	font            : 8pt 'Calibri';
	color           : #ffffff;
	text-align      : center;
	}
.cc61               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #e0e0e0;
	}
img#e28             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  81.75pt;
	top             :   2.25pt;
	width           : 744.75pt;
	height          : 951.00pt;
	}
span#e27            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002005.jpg) no-repeat top left;
	position        : absolute;
	left            :  88.50pt;
	top             : 732.75pt;
	width           : 732.75pt;
	height          : 215.25pt;
	}
div#e26             { /* Club Links: */
	position        : absolute;
	left            : 106.50pt;
	top             : 752.25pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e25            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001019.jpg) no-repeat top left;
	position        : absolute;
	left            :  96.00pt;
	top             : 754.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e24             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 101.25pt;
	top             : 771.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e23             { /* WALESTKD */
	position        : absolute;
	left            : 101.25pt;
	top             : 789.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e22             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 101.25pt;
	top             : 808.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e21             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 101.25pt;
	top             : 827.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e20             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 101.25pt;
	top             : 846.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e19             { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 101.25pt;
	top             : 864.75pt;
	width           : 279.00pt;
	height          :  15.75pt;
	}
div#e18             { /* BRITISH TAEKWON-DO COUNC... */
	position        : absolute;
	left            : 101.25pt;
	top             : 883.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e17             { /* Website Tab Link: */
	position        : absolute;
	left            : 406.50pt;
	top             : 752.25pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e16            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001018.jpg) no-repeat top left;
	position        : absolute;
	left            : 396.00pt;
	top             : 754.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e15             { /* Home Page */
	position        : absolute;
	left            : 401.25pt;
	top             : 771.00pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e14             { /* Events */
	position        : absolute;
	left            : 401.25pt;
	top             : 789.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e13             { /* Coaches */
	position        : absolute;
	left            : 401.25pt;
	top             : 808.50pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e12             { /* Contact Us */
	position        : absolute;
	left            : 401.25pt;
	top             : 827.25pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e11             { /* Student Info.  */
	position        : absolute;
	left            : 401.25pt;
	top             : 846.00pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e10             { /* © copyright 2018 British... */
	position        : absolute;
	left            :  94.50pt;
	top             : 928.50pt;
	width           : 721.50pt;
	height          :  12.00pt;
	}
div#e9              { /* HOME */
	position        : absolute;
	left            :  96.75pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e8              { /* EVENTS  */
	position        : absolute;
	left            : 156.00pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e7              { /* COACHES */
	position        : absolute;
	left            : 225.75pt;
	top             : 277.50pt;
	width           :  57.75pt;
	height          :  12.75pt;
	}
div#e6              { /* CONTACT US */
	position        : absolute;
	left            : 303.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e5              { /* STUDENT INFO. */
	position        : absolute;
	left            : 387.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e4              {
	position        : absolute;
	left            :  87.00pt;
	top             : 292.50pt;
	width           : 732.00pt;
	height          : 440.25pt;
	}
div#e3              { /* GALLERY */
	position        : absolute;
	left            : 474.00pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  13.50pt;
	}
img#e2              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :   2.25pt;
	top             : 274.50pt;
	width           :  78.00pt;
	height          : 147.00pt;
	}
span#e1             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001001.jpg) no-repeat top left;
	position        : absolute;
	left            :   2.25pt;
	top             : 425.25pt;
	width           :  78.00pt;
	height          : 143.25pt;
	}
div#page            { /* Page Holder */
	background-color: #808080;
	position        : relative;
	width           : 900.00pt;
	height          :1350.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #808080;
	text-align      : center;
	}



/*--- EndOfFile ---*/
