/*--- Avanquest WebEasy Page Style ---*/


.cc56               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc57               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc58               { /* Common */
	border          :   0.00pt none #ffffff;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc59               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc60               { /* Common */
	font            : 8pt 'Calibri';
	color           : #ffffff;
	text-align      : center;
	}
.cc61               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #e0e0e0;
	}
img#e26             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  81.75pt;
	top             :   2.25pt;
	width           : 744.75pt;
	height          : 934.50pt;
	}
span#e25            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002003.jpg) no-repeat top left;
	position        : absolute;
	left            :  88.50pt;
	top             : 717.00pt;
	width           : 732.75pt;
	height          : 215.25pt;
	}
div#e24             { /* Club Links: */
	position        : absolute;
	left            : 106.50pt;
	top             : 736.50pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e23            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001017.jpg) no-repeat top left;
	position        : absolute;
	left            :  96.00pt;
	top             : 738.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e22             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 101.25pt;
	top             : 755.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e21             { /* WALESTKD */
	position        : absolute;
	left            : 101.25pt;
	top             : 774.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e20             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 101.25pt;
	top             : 792.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e19             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 101.25pt;
	top             : 811.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e18             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 101.25pt;
	top             : 830.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e17             { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 101.25pt;
	top             : 849.00pt;
	width           : 279.00pt;
	height          :  15.75pt;
	}
div#e16             { /* BRITISH TAEKWON-DO COUNC... */
	position        : absolute;
	left            : 101.25pt;
	top             : 867.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e15             { /* Website Tab Link: */
	position        : absolute;
	left            : 406.50pt;
	top             : 736.50pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e14            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001016.jpg) no-repeat top left;
	position        : absolute;
	left            : 396.00pt;
	top             : 738.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e13             { /* Home Page */
	position        : absolute;
	left            : 401.25pt;
	top             : 755.25pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e12             { /* Events */
	position        : absolute;
	left            : 401.25pt;
	top             : 774.00pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e11             { /* Coaches */
	position        : absolute;
	left            : 401.25pt;
	top             : 792.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e10             { /* Contact Us */
	position        : absolute;
	left            : 401.25pt;
	top             : 811.50pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e9              { /* Student Info.  */
	position        : absolute;
	left            : 401.25pt;
	top             : 830.25pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e8              { /* © copyright 2018 British... */
	position        : absolute;
	left            :  94.50pt;
	top             : 912.75pt;
	width           : 721.50pt;
	height          :  12.00pt;
	}
div#e7              { /* HOME */
	position        : absolute;
	left            :  96.75pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e6              { /* EVENTS  */
	position        : absolute;
	left            : 156.00pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e5              { /* COACHES */
	position        : absolute;
	left            : 225.75pt;
	top             : 277.50pt;
	width           :  57.75pt;
	height          :  12.75pt;
	}
div#e4              { /* CONTACT US */
	position        : absolute;
	left            : 303.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e3              { /* STUDENT INFO. */
	position        : absolute;
	left            : 387.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e2              {
	position        : absolute;
	left            :  88.50pt;
	top             : 292.50pt;
	width           : 732.00pt;
	height          : 395.25pt;
	}
div#e1              { /* GALLERY */
	position        : absolute;
	left            : 474.00pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  13.50pt;
	}
div#page            { /* Page Holder */
	background-color: #808080;
	position        : relative;
	width           : 900.00pt;
	height          :1350.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #808080;
	text-align      : center;
	}



/*--- EndOfFile ---*/
