/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc02               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
.cc03               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc04               { /* Common */
	font            : 9pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
.cc05               { /* Common */
	font            : italic bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc06               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #e0e0e0;
	}
.cc07               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc08               { /* Common */
	border          :   0.00pt none #ffffff;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc09               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc10               { /* Common */
	font            : 8pt 'Calibri';
	color           : #ffffff;
	text-align      : center;
	}
.cc11               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc12               { /* Common */
	clip            : rect(0.00pt,19.50pt,15.75pt,0.00pt);
	}
.cc13               { /* Common */
	clip            : rect(0.00pt,16.50pt,17.25pt,0.00pt);
	}
.cc14               { /* Common */
	clip            : rect(0.00pt,17.25pt,17.25pt,0.00pt);
	}
.cc15               { /* Common */
	font            : 12pt 'Calibri';
	color           : #0000ff;
	}
img#e73             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  81.75pt;
	top             :   2.25pt;
	width           : 744.75pt;
	height          :1152.75pt;
	}
span#e72            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001036.jpg) no-repeat top left;
	position        : absolute;
	left            :  82.50pt;
	top             : 271.50pt;
	width           : 743.25pt;
	height          :  21.75pt;
	}
span#e71            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001035.gif) no-repeat top left;
	position        : absolute;
	left            : 138.75pt;
	top             : 273.75pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e70            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001034.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 495.75pt;
	width           : 280.50pt;
	height          : 264.75pt;
	}
span#e69            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001033.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 480.00pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
span#e68            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001032.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 302.25pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
div#e67             {
	position        : absolute;
	left            : 528.75pt;
	top             : 504.00pt;
	width           : 271.50pt;
	height          : 255.00pt;
	}
div#e66             { /* BTF British TKD Champion... */
	position        : absolute;
	left            : 543.00pt;
	top             : 307.50pt;
	width           : 231.75pt;
	height          :  15.75pt;
	}
span#e65            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001031.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 325.50pt;
	width           : 280.50pt;
	height          : 155.25pt;
	}
span#e64            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001030.gif) no-repeat top left;
	position        : absolute;
	left            : 209.25pt;
	top             : 273.75pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e63            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001027.jpg) no-repeat top left;
	position        : absolute;
	left            : 287.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e62            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001027.jpg) no-repeat top left;
	position        : absolute;
	left            : 374.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e61            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001027.jpg) no-repeat top left;
	position        : absolute;
	left            : 464.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e60            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001026.gif) no-repeat top left;
	position        : absolute;
	left            : 532.50pt;
	top             : 309.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e59             {
	position        : absolute;
	left            : 528.00pt;
	top             : 324.75pt;
	width           : 279.75pt;
	height          : 150.75pt;
	}
span#e58            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001025.jpg) no-repeat top left;
	position        : absolute;
	left            :  93.00pt;
	top             : 651.00pt;
	width           :  87.00pt;
	height          :  29.25pt;
	}
div#e57             { /* Upcoming Events */
	position        : absolute;
	left            : 543.75pt;
	top             : 485.25pt;
	width           : 231.75pt;
	height          :  15.75pt;
	}
span#e56            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001024.gif) no-repeat top left;
	position        : absolute;
	left            : 533.25pt;
	top             : 487.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e55             { /* Welcome to the British T... */
	position        : absolute;
	left            :  94.50pt;
	top             : 483.00pt;
	width           : 414.75pt;
	height          : 194.25pt;
	}
div#e54             { /* About the BTF Wales Deve... */
	position        : absolute;
	left            :  94.50pt;
	top             : 465.00pt;
	width           : 257.25pt;
	height          :  15.75pt;
	}
span#e53            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001023.gif) no-repeat top left;
	position        : absolute;
	left            :  95.25pt;
	top             : 714.75pt;
	width           : 415.50pt;
	height          : 209.25pt;
	}
span#e52            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001022.gif) no-repeat top left;
	position        : absolute;
	left            :  95.25pt;
	top             : 712.50pt;
	width           : 415.50pt;
	height          :  24.00pt;
	}
div#e51             { /* Follow Us on Facebook */
	position        : absolute;
	left            : 111.00pt;
	top             : 719.25pt;
	width           : 231.75pt;
	height          :  13.50pt;
	}
span#e50            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001021.gif) no-repeat top left;
	position        : absolute;
	left            : 101.25pt;
	top             : 720.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
span#e49            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001020.gif) no-repeat top left;
	position        : absolute;
	left            :  95.25pt;
	top             : 689.25pt;
	width           : 415.50pt;
	height          :  24.00pt;
	}
div#e48             { /* News Feed  */
	position        : absolute;
	left            : 111.00pt;
	top             : 696.00pt;
	width           : 231.75pt;
	height          :  13.50pt;
	}
span#e47            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001019.gif) no-repeat top left;
	position        : absolute;
	left            : 101.25pt;
	top             : 697.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e46             { /* HOME */
	position        : absolute;
	left            :  96.75pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e45             { /* EVENTS  */
	position        : absolute;
	left            : 156.00pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e44             { /* COACHES */
	position        : absolute;
	left            : 225.75pt;
	top             : 277.50pt;
	width           :  57.75pt;
	height          :  12.75pt;
	}
div#e43             { /* CONTACT US */
	position        : absolute;
	left            : 303.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e42             { /* STUDENT INFO. */
	position        : absolute;
	left            : 387.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
span#e41            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001018.jpg) no-repeat top left;
	position        : absolute;
	left            :  98.25pt;
	top             : 738.00pt;
	width           : 165.00pt;
	height          :  23.25pt;
	}
div#e40             { /* Club Links: */
	position        : absolute;
	left            : 106.50pt;
	top             : 957.00pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e39            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001017.jpg) no-repeat top left;
	position        : absolute;
	left            :  96.00pt;
	top             : 959.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e38             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 101.25pt;
	top             : 975.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e37             { /* WALESTKD */
	position        : absolute;
	left            : 101.25pt;
	top             : 994.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e36             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 101.25pt;
	top             :1013.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e35             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 101.25pt;
	top             :1032.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e34             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 101.25pt;
	top             :1050.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e33             { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 101.25pt;
	top             :1069.50pt;
	width           : 279.00pt;
	height          :  15.75pt;
	}
div#e32             { /* BRITISH TAEKWON-DO COUNC... */
	position        : absolute;
	left            : 101.25pt;
	top             :1088.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e31             { /* Website Tab Link: */
	position        : absolute;
	left            : 406.50pt;
	top             : 957.00pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e30            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001016.jpg) no-repeat top left;
	position        : absolute;
	left            : 396.00pt;
	top             : 959.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e29             { /* Home Page */
	position        : absolute;
	left            : 401.25pt;
	top             : 975.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e28             { /* Events */
	position        : absolute;
	left            : 401.25pt;
	top             : 994.50pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e27             { /* Coaches */
	position        : absolute;
	left            : 401.25pt;
	top             :1013.25pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e26             { /* Contact Us */
	position        : absolute;
	left            : 401.25pt;
	top             :1032.00pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e25             { /* Student Info.  */
	position        : absolute;
	left            : 401.25pt;
	top             :1050.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e24             { /* © copyright 2018 British... */
	position        : absolute;
	left            :  94.50pt;
	top             :1133.25pt;
	width           : 721.50pt;
	height          :  12.00pt;
	}
span#e23            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001015.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 759.75pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
div#e22             { /* CLUB LINKS */
	position        : absolute;
	left            : 543.00pt;
	top             : 765.00pt;
	width           : 231.00pt;
	height          :  12.00pt;
	}
span#e21            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001014.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 783.00pt;
	width           : 280.50pt;
	height          : 141.00pt;
	}
span#e20            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001013.gif) no-repeat top left;
	position        : absolute;
	left            : 532.50pt;
	top             : 767.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
span#e19            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 787.50pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e18            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001011.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 804.00pt;
	width           :  16.50pt;
	height          :  17.25pt;
	}
span#e17            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 840.75pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e16            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 862.50pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e15            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 878.25pt;
	width           :  17.25pt;
	height          :  17.25pt;
	}
div#e14             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 564.00pt;
	top             : 787.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e13             { /* WALESTKD */
	position        : absolute;
	left            : 564.00pt;
	top             : 806.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e12             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 564.00pt;
	top             : 825.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e11             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 564.00pt;
	top             : 843.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e10             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 564.00pt;
	top             : 862.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
img#e9              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 786.00pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e8              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 804.75pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e7              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 823.50pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e6              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 842.25pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e5              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 861.00pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e4              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 899.25pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
div#e3              { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 564.00pt;
	top             : 881.25pt;
	width           : 279.00pt;
	height          :  15.00pt;
	}
img#e2              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 879.75pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
div#e1              { /* GALLERY */
	position        : absolute;
	left            : 474.00pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  13.50pt;
	}
div#page            { /* Page Holder */
	background-color: #808080;
	position        : relative;
	width           : 900.00pt;
	height          :1500.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #808080;
	text-align      : center;
	}



/*--- EndOfFile ---*/
