/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc02               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
.cc03               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #e0e0e0;
	}
.cc04               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc05               { /* Common */
	font            : 9pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
.cc06               { /* Common */
	font            : italic bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e33             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  81.75pt;
	top             :   2.25pt;
	width           : 744.75pt;
	height          :2277.75pt;
	}
span#e32            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001018.jpg) no-repeat top left;
	position        : absolute;
	left            :  82.50pt;
	top             : 271.50pt;
	width           : 743.25pt;
	height          :  21.75pt;
	}
span#e31            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001017.gif) no-repeat top left;
	position        : absolute;
	left            : 138.75pt;
	top             : 273.75pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e30            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001016.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 495.75pt;
	width           : 280.50pt;
	height          : 264.75pt;
	}
span#e29            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001015.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 480.00pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
span#e28            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001014.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 302.25pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
div#e27             {
	position        : absolute;
	left            : 528.75pt;
	top             : 504.00pt;
	width           : 271.50pt;
	height          : 255.00pt;
	}
div#e26             { /* BTF British TKD Champion... */
	position        : absolute;
	left            : 543.00pt;
	top             : 307.50pt;
	width           : 231.75pt;
	height          :  15.75pt;
	}
span#e25            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001013.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 325.50pt;
	width           : 280.50pt;
	height          : 155.25pt;
	}
span#e24            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001012.gif) no-repeat top left;
	position        : absolute;
	left            : 209.25pt;
	top             : 273.75pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e23            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 287.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e22            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 374.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e21            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 464.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
div#e20             { /* HOME */
	position        : absolute;
	left            :  96.75pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e19             { /* EVENTS  */
	position        : absolute;
	left            : 156.00pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e18             { /* COACHES */
	position        : absolute;
	left            : 225.75pt;
	top             : 277.50pt;
	width           :  57.75pt;
	height          :  12.75pt;
	}
div#e17             { /* CONTACT US */
	position        : absolute;
	left            : 303.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e16             { /* STUDENT INFO. */
	position        : absolute;
	left            : 387.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
span#e15            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001008.gif) no-repeat top left;
	position        : absolute;
	left            : 532.50pt;
	top             : 309.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e14             {
	position        : absolute;
	left            : 528.00pt;
	top             : 324.75pt;
	width           : 279.75pt;
	height          : 150.75pt;
	}
span#e13            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001007.jpg) no-repeat top left;
	position        : absolute;
	left            :  93.00pt;
	top             : 651.00pt;
	width           :  87.00pt;
	height          :  29.25pt;
	}
div#e12             { /* Upcoming Events */
	position        : absolute;
	left            : 543.75pt;
	top             : 485.25pt;
	width           : 231.75pt;
	height          :  15.75pt;
	}
span#e11            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001006.gif) no-repeat top left;
	position        : absolute;
	left            : 533.25pt;
	top             : 487.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e10             { /* Welcome to the British T... */
	position        : absolute;
	left            :  94.50pt;
	top             : 483.00pt;
	width           : 414.75pt;
	height          : 194.25pt;
	}
div#e9              { /* About the BTF Wales Deve... */
	position        : absolute;
	left            :  94.50pt;
	top             : 465.00pt;
	width           : 257.25pt;
	height          :  15.75pt;
	}
span#e8             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001005.gif) no-repeat top left;
	position        : absolute;
	left            :  98.25pt;
	top             : 714.75pt;
	width           : 378.75pt;
	height          :1537.50pt;
	}
div#e7              {
	position        : absolute;
	left            : 100.50pt;
	top             : 737.25pt;
	width           : 332.25pt;
	height          :1458.00pt;
	}
span#e6             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001004.gif) no-repeat top left;
	position        : absolute;
	left            :  98.25pt;
	top             : 712.50pt;
	width           : 378.75pt;
	height          :  24.00pt;
	}
div#e5              { /* Follow Us on Facebook */
	position        : absolute;
	left            : 114.00pt;
	top             : 719.25pt;
	width           : 231.75pt;
	height          :  13.50pt;
	}
span#e4             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001003.gif) no-repeat top left;
	position        : absolute;
	left            : 104.25pt;
	top             : 720.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
span#e3             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001002.gif) no-repeat top left;
	position        : absolute;
	left            :  98.25pt;
	top             : 689.25pt;
	width           : 378.75pt;
	height          :  24.00pt;
	}
div#e2              { /* News Feed  */
	position        : absolute;
	left            : 114.00pt;
	top             : 696.00pt;
	width           : 231.75pt;
	height          :  13.50pt;
	}
span#e1             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001001.gif) no-repeat top left;
	position        : absolute;
	left            : 104.25pt;
	top             : 697.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#page            { /* Page Holder */
	background-color: #808080;
	position        : relative;
	width           : 900.00pt;
	height          :3750.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #808080;
	text-align      : center;
	}



/*--- EndOfFile ---*/
