/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc02               { /* Common */
	font            : 12pt 'Calibri';
	color           : #0000ff;
	}
.cc03               { /* Common */
	font            : 20pt 'Brush Script MT';
	color           : #ffffff;
	text-align      : center;
	}
.cc04               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
.cc05               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc06               { /* Common */
	font            : 9pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
.cc07               { /* Common */
	font            : italic bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc08               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc09               { /* Common */
	border          :   0.00pt none #ffffff;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc10               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc11               { /* Common */
	font            : 8pt 'Calibri';
	color           : #ffffff;
	text-align      : center;
	}
.cc12               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc13               { /* Common */
	clip            : rect(0.00pt,19.50pt,15.75pt,0.00pt);
	}
.cc14               { /* Common */
	clip            : rect(0.00pt,16.50pt,17.25pt,0.00pt);
	}
.cc15               { /* Common */
	clip            : rect(0.00pt,17.25pt,17.25pt,0.00pt);
	}
.cc16               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc17               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #e0e0e0;
	}
span#e81            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001043.jpg) no-repeat top left;
	position        : absolute;
	left            :  81.75pt;
	top             :   2.25pt;
	width           : 744.75pt;
	height          :1152.75pt;
	}
div#e80             { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 564.00pt;
	top             : 886.50pt;
	width           : 279.00pt;
	height          :  15.00pt;
	}
span#e79            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001042.jpg) no-repeat top left;
	position        : absolute;
	left            :  88.50pt;
	top             : 937.50pt;
	width           : 732.75pt;
	height          : 215.25pt;
	}
span#e78            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001041.jpg) no-repeat top left;
	position        : absolute;
	left            :  93.00pt;
	top             : 303.75pt;
	width           : 422.25pt;
	height          : 150.75pt;
	}
div#e77             { /* Courtesy, Integrity, Per... */
	position        : absolute;
	left            : 104.25pt;
	top             : 234.75pt;
	width           : 705.75pt;
	height          :  33.75pt;
	}
span#e76            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001040.jpg) no-repeat top left;
	position        : absolute;
	left            : 181.50pt;
	top             : 647.25pt;
	width           :  39.75pt;
	height          :  32.25pt;
	}
span#e75            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001039.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 502.50pt;
	width           : 280.50pt;
	height          : 264.75pt;
	}
span#e74            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001038.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 486.75pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
span#e73            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001037.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 307.50pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
div#e72             {
	position        : absolute;
	left            : 528.75pt;
	top             : 510.75pt;
	width           : 271.50pt;
	height          : 255.00pt;
	}
div#e71             { /* BTF British TKD Champion... */
	position        : absolute;
	left            : 543.00pt;
	top             : 312.75pt;
	width           : 231.75pt;
	height          :  15.75pt;
	}
span#e70            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001036.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 330.75pt;
	width           : 280.50pt;
	height          : 156.75pt;
	}
span#e69            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001035.gif) no-repeat top left;
	position        : absolute;
	left            : 532.50pt;
	top             : 315.00pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e68             {
	position        : absolute;
	left            : 528.00pt;
	top             : 331.50pt;
	width           : 279.75pt;
	height          : 150.75pt;
	}
span#e67            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001034.jpg) no-repeat top left;
	position        : absolute;
	left            :  93.00pt;
	top             : 651.00pt;
	width           :  87.00pt;
	height          :  29.25pt;
	}
div#e66             { /* Upcoming Events */
	position        : absolute;
	left            : 543.75pt;
	top             : 492.00pt;
	width           : 231.75pt;
	height          :  15.75pt;
	}
span#e65            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001033.gif) no-repeat top left;
	position        : absolute;
	left            : 533.25pt;
	top             : 494.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e64             { /* Welcome to the British T... */
	position        : absolute;
	left            :  94.50pt;
	top             : 483.00pt;
	width           : 414.75pt;
	height          : 194.25pt;
	}
div#e63             { /* About the BTF Wales Deve... */
	position        : absolute;
	left            :  94.50pt;
	top             : 465.00pt;
	width           : 257.25pt;
	height          :  15.75pt;
	}
span#e62            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001032.gif) no-repeat top left;
	position        : absolute;
	left            :  95.25pt;
	top             : 714.75pt;
	width           : 415.50pt;
	height          : 209.25pt;
	}
span#e61            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001031.gif) no-repeat top left;
	position        : absolute;
	left            :  95.25pt;
	top             : 712.50pt;
	width           : 415.50pt;
	height          :  24.00pt;
	}
div#e60             { /* Follow Us on Facebook */
	position        : absolute;
	left            : 111.00pt;
	top             : 719.25pt;
	width           : 231.75pt;
	height          :  13.50pt;
	}
span#e59            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001030.gif) no-repeat top left;
	position        : absolute;
	left            : 101.25pt;
	top             : 720.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
span#e58            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001029.gif) no-repeat top left;
	position        : absolute;
	left            :  95.25pt;
	top             : 689.25pt;
	width           : 415.50pt;
	height          :  24.00pt;
	}
div#e57             { /* News Feed  */
	position        : absolute;
	left            : 111.00pt;
	top             : 696.00pt;
	width           : 231.75pt;
	height          :  13.50pt;
	}
span#e56            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001028.gif) no-repeat top left;
	position        : absolute;
	left            : 101.25pt;
	top             : 697.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
span#e55            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001027.jpg) no-repeat top left;
	position        : absolute;
	left            :  98.25pt;
	top             : 738.00pt;
	width           : 165.00pt;
	height          :  23.25pt;
	}
div#e54             { /* Club Links: */
	position        : absolute;
	left            : 106.50pt;
	top             : 957.00pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e53            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001026.jpg) no-repeat top left;
	position        : absolute;
	left            :  96.00pt;
	top             : 959.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e52             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 101.25pt;
	top             : 975.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e51             { /* WALESTKD */
	position        : absolute;
	left            : 101.25pt;
	top             : 994.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e50             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 101.25pt;
	top             :1013.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e49             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 101.25pt;
	top             :1032.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e48             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 101.25pt;
	top             :1050.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e47             { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 101.25pt;
	top             :1069.50pt;
	width           : 279.00pt;
	height          :  15.75pt;
	}
div#e46             { /* BRITISH TAEKWON-DO COUNC... */
	position        : absolute;
	left            : 101.25pt;
	top             :1088.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e45             { /* Website Tab Link: */
	position        : absolute;
	left            : 406.50pt;
	top             : 957.00pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e44            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001025.jpg) no-repeat top left;
	position        : absolute;
	left            : 396.00pt;
	top             : 959.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e43             { /* Home Page */
	position        : absolute;
	left            : 401.25pt;
	top             : 975.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e42             { /* Events */
	position        : absolute;
	left            : 401.25pt;
	top             : 994.50pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e41             { /* Coaches */
	position        : absolute;
	left            : 401.25pt;
	top             :1013.25pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e40             { /* Contact Us */
	position        : absolute;
	left            : 401.25pt;
	top             :1032.00pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e39             { /* Student Info.  */
	position        : absolute;
	left            : 401.25pt;
	top             :1050.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e38             { /* © copyright 2018 British... */
	position        : absolute;
	left            :  94.50pt;
	top             :1133.25pt;
	width           : 721.50pt;
	height          :  12.00pt;
	}
span#e37            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001024.gif) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 765.75pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
div#e36             { /* CLUB LINKS */
	position        : absolute;
	left            : 543.00pt;
	top             : 771.00pt;
	width           : 231.00pt;
	height          :  12.00pt;
	}
span#e35            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001023.jpg) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 789.75pt;
	width           : 280.50pt;
	height          : 141.00pt;
	}
span#e34            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001022.gif) no-repeat top left;
	position        : absolute;
	left            : 532.50pt;
	top             : 773.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
span#e33            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001018.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 793.50pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e32            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001020.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 810.00pt;
	width           :  16.50pt;
	height          :  17.25pt;
	}
span#e31            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001018.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 846.75pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e30            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001018.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 868.50pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e29            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001017.jpg) no-repeat top left;
	position        : absolute;
	left            : 536.25pt;
	top             : 884.25pt;
	width           :  17.25pt;
	height          :  17.25pt;
	}
div#e28             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 564.00pt;
	top             : 793.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e27             { /* WALESTKD */
	position        : absolute;
	left            : 564.00pt;
	top             : 812.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e26             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 564.00pt;
	top             : 831.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e25             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 564.00pt;
	top             : 849.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e24             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 564.00pt;
	top             : 868.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
img#e23             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 792.00pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e22             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 810.75pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e21             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 829.50pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e20             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 848.25pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e19             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 867.00pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e18             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 905.25pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e17             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 529.50pt;
	top             : 885.75pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
div#e16             {
	position        : absolute;
	left            :  87.00pt;
	top             :   6.75pt;
	width           : 737.25pt;
	height          : 293.25pt;
	}
span#e15            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.gif) no-repeat top left;
	position        : absolute;
	left            :  84.00pt;
	top             : 292.50pt;
	width           :   4.50pt;
	height          :  21.75pt;
	}
span#e14            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001008.gif) no-repeat top left;
	position        : absolute;
	left            :  84.75pt;
	top             : 270.75pt;
	width           : 740.25pt;
	height          :  30.00pt;
	}
span#e13            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001007.gif) no-repeat top left;
	position        : absolute;
	left            :  88.50pt;
	top             : 279.00pt;
	width           : 732.00pt;
	height          :  21.75pt;
	}
span#e12            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001006.gif) no-repeat top left;
	position        : absolute;
	left            :  82.50pt;
	top             : 270.75pt;
	width           : 743.25pt;
	height          :  21.75pt;
	}
span#e11            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001001.gif) no-repeat top left;
	position        : absolute;
	left            : 138.75pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e10            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001001.gif) no-repeat top left;
	position        : absolute;
	left            : 209.25pt;
	top             : 273.00pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e9             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001001.gif) no-repeat top left;
	position        : absolute;
	left            : 287.25pt;
	top             : 272.25pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e8             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001001.gif) no-repeat top left;
	position        : absolute;
	left            : 374.25pt;
	top             : 272.25pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
span#e7             { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001001.gif) no-repeat top left;
	position        : absolute;
	left            : 464.25pt;
	top             : 272.25pt;
	width           :   3.00pt;
	height          :  18.75pt;
	}
div#e6              { /* HOME */
	position        : absolute;
	left            :  96.75pt;
	top             : 276.75pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e5              { /* EVENTS  */
	position        : absolute;
	left            : 156.00pt;
	top             : 276.75pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e4              { /* COACHES */
	position        : absolute;
	left            : 225.75pt;
	top             : 276.75pt;
	width           :  57.75pt;
	height          :  12.75pt;
	}
div#e3              { /* CONTACT US */
	position        : absolute;
	left            : 303.75pt;
	top             : 276.75pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e2              { /* STUDENT INFO. */
	position        : absolute;
	left            : 387.75pt;
	top             : 276.75pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e1              { /* GALLERY */
	position        : absolute;
	left            : 474.00pt;
	top             : 276.75pt;
	width           :  78.00pt;
	height          :  13.50pt;
	}
div#page            { /* Page Holder */
	background-color: #808080;
	position        : relative;
	width           : 900.00pt;
	height          :1200.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #808080;
	text-align      : center;
	}



/*--- EndOfFile ---*/
