/*--- Avanquest WebEasy Page Style ---*/


.cc44               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc45               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc46               { /* Common */
	border          :   0.00pt none #ffffff;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc47               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc48               { /* Common */
	font            : 8pt 'Calibri';
	color           : #ffffff;
	text-align      : center;
	}
.cc49               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,6.00pt,6.00pt,0.00pt);
	}
.cc50               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc51               { /* Common */
	clip            : rect(0.00pt,19.50pt,15.75pt,0.00pt);
	}
.cc52               { /* Common */
	clip            : rect(0.00pt,16.50pt,17.25pt,0.00pt);
	}
.cc53               { /* Common */
	clip            : rect(0.00pt,17.25pt,17.25pt,0.00pt);
	}
.cc54               { /* Common */
	font            : 12pt 'Calibri';
	color           : #0000ff;
	}
.cc55               { /* Common */
	font            : bold 9pt 'Arial', Helvetica, sans-serif;
	color           : #e0e0e0;
	}
img#e64             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  81.75pt;
	top             :   2.25pt;
	width           : 744.75pt;
	height          : 822.75pt;
	}
span#e63            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team002003.jpg) no-repeat top left;
	position        : absolute;
	left            :  88.50pt;
	top             : 607.50pt;
	width           : 732.75pt;
	height          : 215.25pt;
	}
div#e62             { /* Club Links: */
	position        : absolute;
	left            : 106.50pt;
	top             : 627.00pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e61            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001017.jpg) no-repeat top left;
	position        : absolute;
	left            :  96.00pt;
	top             : 629.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e60             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 101.25pt;
	top             : 645.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e59             { /* WALESTKD */
	position        : absolute;
	left            : 101.25pt;
	top             : 664.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e58             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 101.25pt;
	top             : 683.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e57             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 101.25pt;
	top             : 702.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e56             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 101.25pt;
	top             : 720.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e55             { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 101.25pt;
	top             : 739.50pt;
	width           : 279.00pt;
	height          :  15.75pt;
	}
div#e54             { /* BRITISH TAEKWON-DO COUNC... */
	position        : absolute;
	left            : 101.25pt;
	top             : 758.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e53             { /* Website Tab Link: */
	position        : absolute;
	left            : 406.50pt;
	top             : 627.00pt;
	width           : 231.00pt;
	height          :  13.50pt;
	}
span#e52            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001016.jpg) no-repeat top left;
	position        : absolute;
	left            : 396.00pt;
	top             : 629.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
div#e51             { /* Home Page */
	position        : absolute;
	left            : 401.25pt;
	top             : 645.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e50             { /* Events */
	position        : absolute;
	left            : 401.25pt;
	top             : 664.50pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e49             { /* Coaches */
	position        : absolute;
	left            : 401.25pt;
	top             : 683.25pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e48             { /* Contact Us */
	position        : absolute;
	left            : 401.25pt;
	top             : 702.00pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e47             { /* Student Info.  */
	position        : absolute;
	left            : 401.25pt;
	top             : 720.75pt;
	width           : 191.25pt;
	height          :  16.50pt;
	}
div#e46             { /* © copyright 2018 British... */
	position        : absolute;
	left            :  94.50pt;
	top             : 803.25pt;
	width           : 721.50pt;
	height          :  12.00pt;
	}
span#e45            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005032.jpg) no-repeat top left;
	position        : absolute;
	left            : 185.25pt;
	top             : 569.25pt;
	width           :  38.25pt;
	height          :  31.50pt;
	}
span#e44            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001025.jpg) no-repeat top left;
	position        : absolute;
	left            :  96.75pt;
	top             : 570.00pt;
	width           :  87.00pt;
	height          :  29.25pt;
	}
img#e43             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  97.50pt;
	top             : 324.75pt;
	width           : 402.75pt;
	height          : 241.50pt;
	}
img#e42             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  97.50pt;
	top             : 302.25pt;
	width           : 402.75pt;
	height          :  24.00pt;
	}
span#e41            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005028.gif) no-repeat top left;
	position        : absolute;
	left            : 102.75pt;
	top             : 311.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
img#e40             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  97.50pt;
	top             : 361.50pt;
	width           : 402.75pt;
	height          :  24.00pt;
	}
span#e39            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005026.gif) no-repeat top left;
	position        : absolute;
	left            : 102.75pt;
	top             : 370.50pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
img#e38             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  97.50pt;
	top             : 411.00pt;
	width           : 402.75pt;
	height          :  24.00pt;
	}
span#e37            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005024.gif) no-repeat top left;
	position        : absolute;
	left            : 102.75pt;
	top             : 420.00pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
img#e36             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  97.50pt;
	top             : 464.25pt;
	width           : 402.75pt;
	height          :  24.00pt;
	}
span#e35            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005022.gif) no-repeat top left;
	position        : absolute;
	left            : 102.75pt;
	top             : 473.25pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
img#e34             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  97.50pt;
	top             : 516.00pt;
	width           : 402.75pt;
	height          :  24.00pt;
	}
span#e33            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005020.gif) no-repeat top left;
	position        : absolute;
	left            : 102.75pt;
	top             : 525.00pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
img#e32             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  99.00pt;
	top             : 387.75pt;
	width           : 399.00pt;
	height          :  19.50pt;
	}
img#e31             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  99.00pt;
	top             : 438.00pt;
	width           : 399.00pt;
	height          :  19.50pt;
	}
img#e30             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            :  99.00pt;
	top             : 491.25pt;
	width           : 399.00pt;
	height          :  19.50pt;
	}
span#e29            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005016.gif) no-repeat top left;
	position        : absolute;
	left            : 525.75pt;
	top             : 302.25pt;
	width           : 280.50pt;
	height          :  24.00pt;
	}
div#e28             { /* CLUB LINKS */
	position        : absolute;
	left            : 541.50pt;
	top             : 307.50pt;
	width           : 231.00pt;
	height          :  12.00pt;
	}
span#e27            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005015.gif) no-repeat top left;
	position        : absolute;
	left            : 525.75pt;
	top             : 325.50pt;
	width           : 280.50pt;
	height          : 141.00pt;
	}
span#e26            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team005014.gif) no-repeat top left;
	position        : absolute;
	left            : 531.00pt;
	top             : 309.75pt;
	width           :   6.00pt;
	height          :   6.00pt;
	}
span#e25            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 534.75pt;
	top             : 330.00pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e24            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001011.jpg) no-repeat top left;
	position        : absolute;
	left            : 534.75pt;
	top             : 346.50pt;
	width           :  16.50pt;
	height          :  17.25pt;
	}
span#e23            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 534.75pt;
	top             : 383.25pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e22            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 534.75pt;
	top             : 405.00pt;
	width           :  19.50pt;
	height          :  15.75pt;
	}
span#e21            { /* additionsl_btf_wales_tea... */
	background      : transparent url(additionsl_btf_wales_team001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 534.75pt;
	top             : 420.75pt;
	width           :  17.25pt;
	height          :  17.25pt;
	}
div#e20             { /* BRITISH TAEKWON-DO FEDER... */
	position        : absolute;
	left            : 562.50pt;
	top             : 330.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e19             { /* WALESTKD */
	position        : absolute;
	left            : 562.50pt;
	top             : 348.75pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e18             { /* VALLEY TAEKWON-DO CLUBS */
	position        : absolute;
	left            : 562.50pt;
	top             : 367.50pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e17             { /* TAEKWON-DO ARC */
	position        : absolute;
	left            : 562.50pt;
	top             : 386.25pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
div#e16             { /* SILVERDRAGON TAEKWONDO C... */
	position        : absolute;
	left            : 562.50pt;
	top             : 405.00pt;
	width           : 191.25pt;
	height          :  15.75pt;
	}
img#e15             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 528.00pt;
	top             : 328.50pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e14             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 528.00pt;
	top             : 347.25pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e13             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 528.00pt;
	top             : 366.00pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e12             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 528.00pt;
	top             : 384.75pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e11             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 528.00pt;
	top             : 403.50pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
img#e10             { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 528.00pt;
	top             : 441.75pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
div#e9              { /* INTERNATIONAL TAEKWOND-D... */
	position        : absolute;
	left            : 562.50pt;
	top             : 423.75pt;
	width           : 279.00pt;
	height          :  15.00pt;
	}
img#e8              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 528.00pt;
	top             : 422.25pt;
	width           : 276.00pt;
	height          :  16.50pt;
	}
div#e7              { /* HOME */
	position        : absolute;
	left            :  96.75pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e6              { /* EVENTS  */
	position        : absolute;
	left            : 156.00pt;
	top             : 277.50pt;
	width           :  44.25pt;
	height          :  14.25pt;
	}
div#e5              { /* COACHES */
	position        : absolute;
	left            : 225.75pt;
	top             : 277.50pt;
	width           :  57.75pt;
	height          :  12.75pt;
	}
div#e4              { /* CONTACT US */
	position        : absolute;
	left            : 303.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
div#e3              { /* STUDENT INFO. */
	position        : absolute;
	left            : 387.75pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  14.25pt;
	}
img#e2              { /* additionsl_btf_wales_tea... */
	position        : absolute;
	left            : 100.50pt;
	top             : 542.25pt;
	width           : 397.50pt;
	height          :  19.50pt;
	}
div#e1              { /* GALLERY */
	position        : absolute;
	left            : 474.00pt;
	top             : 277.50pt;
	width           :  78.00pt;
	height          :  13.50pt;
	}
div#page            { /* Page Holder */
	background-color: #808080;
	position        : relative;
	width           : 900.00pt;
	height          :1125.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #808080;
	text-align      : center;
	}



/*--- EndOfFile ---*/
